@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes slideRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  /* -webkit-box-sizing: inherit;
          box-sizing: inherit; */
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  a,
  button {
    cursor: default !important;
    border: none;
    outline: none;
  }
}

.nav-container {
  max-width: 80rem;
  width: 100%;
  height: auto;
  padding: 0 2rem;
  margin: 0 auto;
}

.nav-contact-us {
  padding: 20px;
}

.nav-contact-us a,
.nav-contact-us2 a {
  display: flex;
  overflow: hidden;
  width: auto;
  /* height: 55px; */
  margin-top: 0;
  padding: 17px 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #fc2e50;
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
  font-size: 15px;
  line-height: 1;
  font-weight: 600;
  font-family: "Montserrat-nav", sans-serif, Arial, sans-serif;
  text-align: center;
  letter-spacing: 0.4px;
}

.nav-contact-us a:hover,
.nav-contact-us2 a:hover {
  background: #e31c25;
}

@media only screen and (max-width: 992px) {
  .nav-container {
    padding: 0 1rem;
    margin: 0 auto;
  }
  .nav-contact-us2 a {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .nav-contact-us a {
    display: none;
  }
}

.header-item-left .brand-logo {
  padding: 5px 10px;
}
.header-item-left .brand-logo img {
  width: 190px;
  height: 40px;
}
.header-item-left .app-logo {
  padding: 5px 10px;
  display: none;
}
.header-item-left .app-logo img {
  height: 50px;
  width: 53px;
}

@media only screen and (max-width: 768px) {
  .header-item-left .brand-logo {
    display: none;
  }
  .header-item-left .app-logo {
    display: block;
  }
}

#nav-header {
  display: none;
}
.nav-header {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 100%;
  /* height: 65px; */
  position: fixed;
  line-height: 65px;  /*To change the size of nav*/
  text-align: center;
  z-index: 999;
  top: 0;
}

.affix {
  padding: 0;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px rgba(66, 133, 156, .12), 0 12px 24px -12px rgba(66, 133, 156, .15);
}

.nav-header .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17%;
          flex: 0 0 17%;
}

.header-item-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66%;
          /* flex: 0 0 66%; */
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.nav-header .menu > ul > li {
  display: inline-block;
  line-height: 3.125rem;
  margin-left: 1.9rem;
}

.nav-header .menu > ul > li > a {
  position: relative;
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  font-family: "Montserrat-nav", sans-serif, Arial, sans-serif;
  line-height: 1.25;
  letter-spacing: 0.5px;
  border: none;
  outline: none;
  color: #0f0f0f;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;

  /* Color Gradient */
  /* background-image: linear-gradient(45deg, #ce1614, #0f0f0f);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.nav-header .menu > ul > li .menu-subs {
  position: absolute;
  width: 100%;
  height: auto;
  /* margin-top: 1.75rem; */ /* If its enabled: transition animation will change */
  padding: 1rem 2rem;
  border: none;
  outline: none;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  border-radius: 0.25rem;
  background: #fafafa;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-header .menu > ul > li .menu-subs > ul > li {
  line-height: 1;
}

.nav-header .menu > ul > li .menu-subs > ul > li > a {
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
  /* padding: 0 0.5rem; */
  border: none;
  outline: none;
  color: #121212;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.4px;
  
  width: 100%;
  padding: 15px;
  border-radius: .75em;
  background-color: #fff;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
}

.nav-header .menu > ul > li .menu-column-1 {
  max-width: 16rem;
  min-width: 200px;
  margin-left: -20px;
  padding: 5px;
  border-radius: 1em;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px rgba(66, 133, 156, .12), 0 12px 24px -12px rgba(66, 133, 156, .3);
  text-align: left;
}

.nav-header .menu > ul > li .services-box {
  max-width: 20rem;
}

.nav-header .menu > ul > li .more-box {
  max-width: 14rem;
}

.nav-header .menu > ul > li .menu-subs.menu-mega {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.nav-header .menu > ul > li .menu-subs.menu-mega > .list-item-2 > ul > li,
.nav-header .menu > ul > li .menu-subs.menu-mega > .list-item > ul > li {
  display: block;
  line-height: 1;
}

.nav-header .menu > ul > li .menu-subs.menu-mega > .list-item-2 > ul > li > a,
.nav-header .menu > ul > li .menu-subs.menu-mega > .list-item > ul > li > a {
  display: inline-block;
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  /* line-height: 1.25; */
  border: none;
  outline: none;
  color: #121212;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;

  width: 100%;
  padding: 15px;
  border-radius: .75em;
  background-color: #fff;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
}

.nav-header .menu > ul > li .menu-subs.menu-column-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 68rem;
  width: 100%;
  margin-left: -20px;
  padding: 5px;
  /* padding: 1.25rem 1rem; */
  border-radius: 1em;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px rgba(66, 133, 156, .12), 0 12px 24px -12px rgba(66, 133, 156, .3);
  text-align: left;
}

.nav-header .menu > ul > li .menu-subs.menu-column-4 > .list-item-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0.5rem;
  border-radius: .75em;
}

.nav-header .menu > ul > li .menu-subs.menu-column-4 > .list-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 1rem;
  border-radius: .75em;
}

.nav-header .menu > ul > li .menu-subs.menu-column-4 > .list-item-2:hover {
  /* background-color: #def7f0; Light Blue */
  background-color: #ffeded;
}
.nav-header .menu > ul > li .menu-subs.menu-column-4 > .list-item-2:hover .title {
  /* color: #47beb9; Blue Color */
  color: #fc2e50;
}

.nav-header .menu > ul > li .menu-subs.menu-column-4 > .list-item-2 .title,
.nav-header .menu > ul > li .menu-subs.menu-column-4 > .list-item .title {
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  padding: 0.5rem;
  border: none;
  outline: none;
  color: #fc2e50;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.7px;
}

.nav-header .menu > ul > li .menu-subs.menu-column-4 > .list-item-2 .title {
  color: #121212;
}

.nav-header .menu > ul > li .menu-subs.menu-column-4 > .list-item-2.text-center .title,
.nav-header .menu > ul > li .menu-subs.menu-column-4 > .list-item.text-center .title {
  text-align: center;
}

.nav-header .menu > ul > li .menu-subs.menu-column-4 > .list-item-2 img.nav-responsive {
  height: auto !important;
  /* margin-top: 0.75rem; */
}
.nav-header .menu > ul > li .menu-subs.menu-column-4 > .list-item-2 img.nav-responsive,
.nav-header .menu > ul > li .menu-subs.menu-column-4 > .list-item .nav-responsive {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
  border-radius: .5em;
  transition: background-image 0.5s ease;
  
  /* background-image: url('https://source.unsplash.com/dWyXjbac4tc/361x467');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

.nav-header .menu > ul > li .menu-subs.menu-column-4 > .list-item-img {
  padding: 0.5rem !important;
}

.nav-header .menu > ul > li .menu-subs.menu-mega > .list-item > ul > li > a:hover,
.nav-header .menu > ul > li .menu-subs > ul > li > a:hover {
  background-color: #ffeded;
  color: #fc2e50
}

.nav-header .menu > ul > li:hover > a {
  color: #fc2e50;
}

@media only screen and (min-width: 993px) {
  .nav-header .menu > ul > li.menu-item-has-children:hover .menu-subs {
    margin-top: 0.6rem;
    opacity: 1;
    visibility: visible;
  }
  .nav-header .menu > ul > li .menu-subs.menu-column-4 > .list-item .nav-div {
    position: absolute;
    display: block;
    width: 48.6rem;
    height: 1px;
    background: #4e40394c;  
  }
}

.menu-mobile {
  cursor: pointer;
  padding-right: 10px;
}

.menu-mobile-header,
.menu-mobile-trigger {
  display: none;
}

.nav-header .menu .menu-section {
  margin: 0;
  padding-left: 0;
}

.nav-header .menu > ul > li .menu-subs ul {
  padding-left: 0;
}

@media only screen and (max-width: 992px) {
  .header-item-center {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header-item-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  /* .header-item-left h1 {
    line-height: 65px;
    margin-bottom: 0;
    font-size: calc(1.375rem + 1.5vw);
    font-weight: 400;
  } */
  .nav-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-header .menu-mobile-trigger {
    position: relative;
    display: block;
    cursor: pointer;
    width: 1.75rem;
    height: 1rem;
    border: none;
    outline: none;
    margin-left: 1.25rem;
    background: none;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
  }
  .nav-header .menu-mobile-trigger span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    border: none;
    outline: none;
    opacity: 1;
    border-radius: 0.25rem;
    background: #121212;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .nav-header .menu-mobile-trigger span:nth-child(1) {
    top: 0;
  }
  .nav-header .menu-mobile-trigger span:nth-child(2), .nav-header .menu-mobile-trigger span:nth-child(3) {
    top: 0.5rem;
  }
  .nav-header .menu-mobile-trigger span:nth-child(4) {
    top: 1rem;
  }
  .nav-header .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    z-index: 1099;
    overflow: hidden;
    background: #fafafa;
    -webkit-transform: translate(-100%);
        -ms-transform: translate(-100%);
            transform: translate(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .nav-header .menu.active {
    border-radius: 0 0.75rem 0.75rem 0;
    -webkit-transform: translate(0%);
        -ms-transform: translate(0%);
            transform: translate(0%);
  }
  .nav-header .menu > ul > li {
    display: block;
    line-height: 1;
    margin-left: 0;
    padding: 0 1rem;
  }
  .nav-header .menu > ul > li > a {
    display: block;
    line-height: 3.125rem;
    height: 3.125rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-transition: background-color .3s, color .3s;
    transition: background-color .3s, color .3s;
    width: 100%;
    font-weight: 400;
  }
  .nav-header .menu > ul > li:hover > a {
    background-color: #ffeded;
    color: #fc2e50;
    border-radius: .75em;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
  }
  .nav-header .menu > ul > li > a i.ion {
    position: absolute;
    font-size: 1.25rem;
    line-height: 3.125rem;
    top: 0;
    right: 0;
    width: 3.125rem;
    height: 3.125rem;
    text-align: center;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .nav-header .menu .menu-mobile-header {
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 0;
    height: 3.125rem;
    z-index: 501;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #fafafa;
  }
  .nav-header .menu .menu-mobile-header .menu-mobile-arrow {
    display: none;
    font-size: 18px;
    line-height: 3.125rem;
    width: 3.125rem;
    height: 3.125rem;
    cursor: pointer;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    color: #121212;
    text-align: center;
  }
  .nav-header .menu .menu-mobile-header.active .menu-mobile-arrow {
    display: block;
  }
  .nav-header .menu .menu-mobile-header .menu-mobile-title {
    font-family: inherit;
    font-size: 15px;
    font-weight: 500;
    line-height: inherit;
    color: #121212;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
  }
  .nav-header .menu .menu-mobile-header .menu-mobile-close {
    font-size: 18px;
    line-height: 3.125rem;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    color: #121212;
    text-align: center;
  }
  .nav-header .menu .menu-section {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .nav-header .menu > ul > li .menu-subs {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    max-width: none;
    min-width: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    padding-top: 4rem;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav-header .menu > ul > li .menu-subs.menu-mega {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    max-width: none;
    min-width: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    padding-top: 4rem;
    opacity: 1;
    overflow-y: auto;
    visibility: visible;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav-header .menu > ul > li .menu-subs.active {
    display: block;
  }
  .nav-header .menu > ul > li .menu-subs.menu-column-4 > .list-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0rem;
  }
  .nav-header .menu > ul > li .menu-subs.menu-column-4 > .list-item .nav-responsive {
    margin-top: 0;
  }
  .nav-header .menu > ul > li .menu-subs.menu-column-4 > .list-item.text-center .title {
    margin-bottom: 1.25rem;
  }
  .nav-header .menu > ul > li .menu-subs.menu-column-4 > .list-item.text-center:last-child .title {
    margin-bottom: 0rem;
  }
  .nav-header .menu > ul > li .menu-subs > ul > li > a {
    display: block;
  }
  .nav-header .menu > ul > li .menu-subs.menu-mega > .list-item > ul {
    margin-bottom: 1rem;
  }
  .nav-header .menu > ul > li .menu-subs.menu-mega > .list-item > ul > li > a {
    display: block;
  }
  .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1098;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.55);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .nav-overlay.active {
    opacity: 1;
    visibility: visible;
  }
  .nav-header .menu > ul > li .menu-subs > ul > li > a {
    font-size: 15px;
  }
}


